@import "./base.css";

html {
  font-size: 62.5% !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.base--btn {
  border: none;
  outline: none;
  background: none;
}
.flex {
  display: flex;
  align-items: center;
}
.page--title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 6.4rem;
}
.common--style {
  padding-top: 8.8rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 370px) and (max-width: 575.9px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767.9px) {
  html {
    font-size: 55%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.9px) {
  html {
    font-size: 60%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1299.9px) {
  html {
    font-size: 62.5%;
  }
  .container {
    padding: 0 15px;
  }
}
